/* Add your own CSS code below */

@media screen and (min-width: 992px) {
  .hero__title {
    font-size: 35pt;
  }
}

@media screen and (min-width: 767px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 767px) {
  div.views {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  div.views a {
    margin-left: 0.8rem;
  }
  .views .views__all {
    margin-left: auto;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

span.heart {
  color: #c85308;
}

.branch-form {
  display: flex;
  flex-direction: column-reverse;
}

.main-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-article p {
  max-width: 50em;
  justify-content: center;
  line-height: 2rem;
}
